html,
body {
  font-family: "Courier New";
  background-color: black;
}

head {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

title {
  display:contents;
  font-size: 50px;
  color: whitesmoke;
  font: "Courier New";
}

#msg-screen {
  background-image: url('../img/intro.png');
  margin: 0 auto;
  width: 980px;
  height: 579px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#start {
  background-color: darkred;
  color: white;
  padding: 15px 30px;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 25px;
}

#game {
  background-color: black;
  display: none;
  justify-content: center;
  align-items:flex-end;
}

#canvas {
  background-color: white;
  color: white;
  padding: 15px 30px;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 25px;
  justify-content: center;
}

#game-data {
  background-color: whitesmoke;
  font-size: 20px;
  padding: 0.5 rem;
  width: 500px;
  justify-content: center;
  margin: 0 auto;
  color: black;
}

.win {
  background-image: url('../img/you win.png');
}

.lose {
  background-image: url('../img/you lose.png');
}

/* crear .win .lose .intro y meter cada imagen como background de esa clase

.container {
  margin: 0 auto;
  width: 1000px;
}

canvas#artillery {
  margin: 0 auto;
  border: 1px solid black;
}



.mb-2 {
  margin-bottom: 2rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

 /*.splash {
  width: 980px;
  height: 579px;
  background-color: whitesmoke;
  background-image: url('../img/snake-intro.gif');
  display: flex;
  justify-content: center;
  align-items: flex-end;
};*/