html,
body {
  font-family: "Courier New";
  background-color: black;
}

head {
  height: 50px;
  display: flex;
  justify-content: center;
  padding: 15px;
}

title {
  display:contents;
  font-size: 50px;
  color: whitesmoke;
  font: "Courier New";
}

#msg-screen {
  margin: 0 auto;
  width: 1000px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#start {
  background-color: darkred;
  color: white;
  padding: 15px 30px;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 25px;
}

#game {
  background-color: black;
  display: none;
  justify-content: center;
  align-items:flex-end;
  width: 1000px;
  margin: 0 auto;
}

#canvas {
  background-color: white;
  color: white;
  border: 1px solid black;
  text-transform: uppercase;
  font-size: 25px;
  justify-content: center;
}

#game-data {
  background-color: black;
  font-size: 20px;
  padding: 5px;
  width: 200px;
  justify-content: center;
  margin: 0 auto;
  color: white;
  border: 1px solid white;
}

.win {
  background-image: url('../img/you win.png');
  display: flex;
}

.lose {
  background-image: url('../img/you lose.png');
  display: flex;
}

.intro {
  background-image: url('../img/intro2.png');
  display: flex;
}

.hide {
  display: none;
}
